footer.mobile-footer
 .container
  .main-footer__inner
   .logo
    ul.menu__list
     li.menu__list-item
      img(class="logo__main" src="assets/img/main-logo.svg")
      img(class="logo__text" src="assets/img/TOXIN.svg")
   .block
    p Copyright © 2018 Toxin отель. Все права защищены.
     .networks
      ul 
        li 
          a(href="#")
            img(class="twitter" src="assets/img/twitter.svg")
        li 
          a(href="#")
            img(class="twitter" src="assets/img/facebook.svg")
        li 
          a(href="#")
            img(class="twitter" src="assets/img/instagram.svg")      
        
  




