
.checkboxButton{
    opacity: 0;
}
.checkboxButtons-text{
    position: relative;
    cursor: pointer;
}

.checkboxButtons-text::before{
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    display: inline-block;
    content: '';
    left: -20px;
    

}

.checkboxButtons-text::after {
    top:7px;
    left: -15px;
    position: absolute;
    display: inline-block;
    width: 8px;
    height: 6px;
    border-radius: 0;
    border-left: 2px solid;
    border-bottom: 2px solid;
    border-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    -moz-border-image:  linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); 
    -webkit-border-image:  linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); 
    border-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-color: transparent;
    border-image-slice: 1;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);   
    content: none;
}

.checkboxButton:checked + .checkboxButtons-text::after{
    content: '';
}
.checkboxButton:checked + .checkboxButtons-text::before{
    border: 1px solid #BC9CFF;
}

.checkboxButtons{
    &__title-wrapper{
        .checkboxButtons-title{
            margin: 0px;
            padding: 0px;
            @include title1;
        }
    }
    &__block1{
        display: flex;
     
        &__text{
            margin: 0px;
            margin-top: 17.12px;
            padding: 0px;
            padding-left: 9.74px;
            font-family: 'Montserrat-Regular';
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: rgba(31, 32, 65, 0.5);
        }
    }
    &__block2{
        display: flex;
        margin-top: 12px;

        &__text{
            margin: 0px;
            margin-top: 1px;
            padding: 0px;
            padding-left: 10px;
            font-family: 'Montserrat-Regular';
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: rgba(31, 32, 65, 0.5);

        }
    }
    &__block3{
        display: flex;
        margin-top: 11.5px;

        &__text{
            margin: 0px;
            margin-top: 1px;
            padding: 0px;
            padding-left: 10px;
            font-family: 'Montserrat-Regular';
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: rgba(31, 32, 65, 0.5);

        }
    }
}