.signin
 .title Войти
  input(type=" text" class="email-input" placeholder="Email" id="name")
  input(type=" password" class="email-input" placeholder="Пароль" id="sername")
 +bigBtn("ВОЙТИ")    
 .registration__footer 
  .text Нет аккаунта на Toxin?
  +littleBtnActiveWithoutBackground2("СОЗДАТЬ")
  