.checkboxList
  input(type="checkbox" class="checkboxLists" id="cbl")
  label(for="cbl" class="checkboxList__title") EXPANDABLE CHECKBOX LIST 
  ul.checkboxList__blocks 
   li.checkboxList__block1
    input(type="checkbox" class="checkboxListElement" id="cbl1")
    label(for="cbl1" class="checkboxList-text").checkboxList__block1__text Завтрак
   li.checkboxList__block2
    input(type="checkbox" class="checkboxListElement" id="cbl2")
    label(for="cbl2" class="checkboxList-text").checkboxList__block2__text Письменный стол
   li.checkboxList__block3
    input(type="checkbox" class="checkboxListElement" id="cbl3")
    label(for="cbl3" class="checkboxList-text").checkboxList__block3__text Стул для кормления
   li.checkboxList__block4
    input(type="checkbox" class="checkboxListElement" id="cbl4")
    label(for="cbl4" class="checkboxList-text").checkboxList__block4__text Кроватка
   li.checkboxList__block5
    input(type="checkbox" class="checkboxListElement" id="cbl5")
    label(for="cbl5" class="checkboxList-text").checkboxList__block5__text Телевизор
   li.checkboxList__block6
    input(type="checkbox" class="checkboxListElement" id="cbl6")
    label(for="cbl6" class="checkboxList-text").checkboxList__block6__text Шампунь

   


