.checkboxButtons
  .checkboxButtons__block1
   input(type="checkbox" class="checkboxButton" id="cb1")
   label(for="cb1" class="checkboxButtons-text").checkboxButtons__block1__text Можно курить
  .checkboxButtons__block2
   input(type="checkbox" class="checkboxButton" id="cb2")
   label(for="cb2" class="checkboxButtons-text").checkboxButtons__block2__text Можно с питомцами
  .checkboxButtons__block3
   input(type="checkbox" class="checkboxButton" id="cb3")
   label(for="cb3" class="checkboxButtons-text").checkboxButtons__block3__text Можно пригласить гостей <br/> (до 10 человек)
   


