include ../../utils/mixins
.section-cards-registration
   .section-cards-registration-title Регистрация аккаунта
   .section-cards-registration-bigInput1
    +bigInput("Имя")
   .section-cards-registration-bigInput2
    +bigInput("Фамилия")
   .section-cards-registration-gender
       .section-cards-registration-gender-man 
          .section-cards-registration-gender-man-circle 
            .section-cards-registration-gender-man-circle-inner 
          .section-cards-registration-gender-man-title Мужщина
       .section-cards-registration-gender-woman 
          .section-cards-registration-gender-woman-circle 
          .section-cards-registration-gender-woman-title Женщина
   .section-cards-registration-bigInput3
        +bigInputWithIMG("ДАТА РОЖДЕНИЯ", "ДД.ММ.ГГГГ", false)
   .section-cards-registration-bigInput4
        +bigInputWithIMG("ДАННЫЕ ДЛЯ ВХОДА В СЕРВИС", "Email", false)
   .section-cards-registration-bigInput5 
        +bigInput("Пароль")     
   button
    +bigBtn("ПОДОБРАТЬ НОМЕР")
