include ../../utils/mixins
.section-cards-found
   .section-cards-found-title Найдем номера под <br/> ваши пожелания
   .section-cards-found-wrapper_date
       +littleInput("ПРИБЫТИЕ")
       +littleInput("ВЫЕЗД")
   +bigInput("ГОСТИ")
   button
    +bigBtn("ПОДОБРАТЬ НОМЕР")
