.section-logo
  img(src="/assets/img/Group.svg")
.section-cards
 .section-cards-found_registration
   .section-cards-found
       .section-cards-found-title Найдем номер под ваши пожелания
       .section-cards-found-wrapper_date
           .section-cards-found-wrapper_arrive
               p Прибытие
               .section-cards-found-wrapper_date-arrive
                   img(src="/assets/img/expand_more.svg")
           .section-cards-found-wrapper_departure
               p Выезд
               .section-cards-found-wrapper_date-departure
                   img(src="/assets/img/expand_more.svg")
       .section-cards-found-wrapper_guests Гости
           input
       button ПОДОБРАТЬ НОМЕР
   .section-cards-registration 
 .section-cards-booking_enter
   .section-cards-booking
   .section-cards-enter
 .section-cards-calendar_room1_room2
   .section-cards-calendar
   .section-cards-room1
   .section-cards-room2
