.section-logo
  img(src="/assets/img/Group.svg")
.section-cards
 .section-cards-found_registration
   include ./block-found.pug
   .section-cards-registration
       .section-cards-registration-title Регистрация аккаунта
 .section-cards-booking_enter
   .section-cards-booking
   .section-cards-enter
 .section-cards-calendar_room1_room2
   .section-cards-calendar
   .section-cards-room1
   .section-cards-room2
