.section-logo
  img(src="/assets/img/Group.svg")
.section-cards
 .section-cards-found_registration
   .section-cards-found
       .section-cards-found-title Найдем номера под <br/> ваши пожелания
       .section-cards-found-wrapper_date
           .section-cards-found-wrapper_date-arrive
               .arrive ПРИБЫТИЕ
               .section-cards-found-wrapper_date-arrive-date
                   p ДД.ММ.ГГГГ
                   img(src="/assets/img/expand_more.svg")
           .section-cards-found-wrapper_date-departure
               .departure ВЫЕЗД
               .section-cards-found-wrapper_date-departure-date
                   p ДД.ММ.ГГГГ
                   img(src="/assets/img/expand_more.svg")
       .section-cards-found-wrapper_guests 
            .guests ГОСТИ
            .section-cards-found-wrapper_guests-guests
                p Сколько гостей
                img(src="/assets/img/expand_more.svg")
       button 
        .button ПОДОБРАТЬ НОМЕР
        img(src="/assets/img/arrow_forward.svg")
   .section-cards-registration 
 .section-cards-booking_enter
   .section-cards-booking
   .section-cards-enter
 .section-cards-calendar_room1_room2
   .section-cards-calendar
   .section-cards-room1
   .section-cards-room2
