.section-logo
  img(src="/assets/img/Group.svg")
.section-wrapper
  .section-wrapper-color
    .section-wrapper-color-inner
      .section-wrapper-color-inner-box1
      .section-wrapper-color-inner-name1 <b>Dark Shade 100%</b> <br>#1F2041
    .section-wrapper-color-inner
      .section-wrapper-color-inner-box2
      .section-wrapper-color-inner-name2 <b>Dark Shade 75%</b> <br>#1F2041
    .section-wrapper-color-inner
      .section-wrapper-color-inner-box3
      .section-wrapper-color-inner-name3 <b>Dark Shade 50%</b> <br>#1F2041
    .section-wrapper-color-inner
      .section-wrapper-color-inner-box4
      .section-wrapper-color-inner-name4 <b>Dark Shade 25%</b> <br>#1F2041
    .section-wrapper-color-inner
      .section-wrapper-color-inner-box5
      .section-wrapper-color-inner-name5 <b>Dark Shade 5%</b> <br>#1F2041
    .section-wrapper-color-inner
      .section-wrapper-color-inner-box6
      .section-wrapper-color-inner-name6 <b>Purple</b> <br>#BC9CFF
    .section-wrapper-color-inner
      .section-wrapper-color-inner-box7
      .section-wrapper-color-inner-name7 <b>Green</b> <br>#6FCF97

  .section-wrapper-text
    .section-wrapper-text-inner
      .section-wrapper-text-inner-h1 H1
      .section-wrapper-text-inner-text1 This one is the sub-section or <br> widget title
    .section-wrapper-text-inner
      .section-wrapper-text-inner-h2 H2
      .section-wrapper-text-inner-text2 Next one is the item title inside <br> widgets
    .section-wrapper-text-inner
      .section-wrapper-text-inner-h3 H3
      .section-wrapper-text-inner-text3 THIS IS A LABEL OR CTA TEXT
    .section-wrapper-text-inner
      .section-wrapper-text-inner-body Body
      .section-wrapper-text-inner-text4 This is the body text which is used for most <br> of the design, like paragraphs, lists, etc.


