.section-logo
  img(src="/assets/img/Group.svg")
.section-formElements
 .section-formElements-block1
   include ./elements/textFieldEmail.pug
   include ./elements/textField.pug
   include ./elements/guestsDropdown.pug
   include ./elements/maskedTextField.pug
   include ./elements/dateDropdown.pug
   include ./elements/comfortDropdown.pug
 .section-formElements-block2
   include ./elements/checkboxButtons.pug
   include ./elements/radioButtons.pug
   include ./elements/toggleButton.pug
   include ./elements/likeButton.pug
   include ./elements/rateButton.pug
 .section-formElements-block3
   include ./elements/rangeSlider.pug


