.section-logo
  img(src="assets/img/Group.svg")
.section-formElements
 .section-formElements-block1
   .textFieldEmailTitleWrapper
     +mainTitle("TEXT FIELD") 
   include ./elements/textFieldEmail.pug
   .textFieldTitleWrapper  
     +mainTitle("TEXT FIELD")  
   include ./elements/textField.pug
   .guestsDropdownTitleWrapper
     +mainTitle("DROPDOWN")
   include ./elements/guestsDropdown.pug
   .maskedTextFieldTitleWrapper 
     +mainTitle("MASKED TEXT FIELD") 
   include ./elements/maskedTextField.pug
   .dateDropdownWrapper  
     include ./elements/dateDropdown.pug
   .comfortDropdownWrapper  
     include ./elements/comfortDropdown.pug
   .checkboxListWrapper 
     include ./elements/checkboxList.pug
   .comfortInformationWrapper  
     include ./elements/comfortInformation.pug
   .convenienceInformationWrapper  
     include ./elements/convenienceInformation.pug  
 .section-formElements-block2
   .checkboxButtonsWrapper 
     include ./elements/checkboxButtons.pug
   .radioButtonsWrapper
     include ./elements/radioButtons.pug
   .toggleButtonWrapper  
     include ./elements/toggleButton.pug
   .likeButtonTitleWrapper 
     +mainTitle("LIKE BUTTON") 
   .likeButtonWrapper  
     include ./elements/likeButton.pug
   .rateButtonWrapper  
     include ./elements/rateButton.pug
   .richCheckboxButtonsWrapper  
     include ./elements/richCheckboxButtons.pug
   .commentBlockWrapper  
     include ./elements/commentBlock.pug  
 .section-formElements-block3
   .buttonsWrapper
     .littleBtnWithBackground
       .littleBtnActiveWithBackground 
         +littleBtnActiveWithBackground("CLICK ME")
       .littleBtnNotActiveWithBackground
         +littleBtnNotActiveWithBackground("CLICK ME")
     .littleBtnWithoutBackground 
       .littleBtnActiveWithoutBackground
         +littleBtnActiveWithoutBackground("CLICK ME")
       .littleBtnNotActiveWithoutBackground 
         +littleBtnNotActiveWithoutBackground("CLICK ME")
     .btnText
       .leftbtnText 
         +btnTextWithLightColor
       .rightbtnText
         +btnTextWithDarckColor 
     .bigBtn
       +bigBtn("ПЕРЕЙТИ К ОПЛАТЕ")
   .paginationBlockWrapper
    include ./elements/paginationBlock.pug         
   .bulletListWrapper  
     include ./elements/bulletList.pug


