.section-logo
  img(src="/assets/img/Group.svg")
.section-formElements
 .section-formElements-block1
   input(type=" text" class="element1" placeholder="Email")
   input(type=" text" class="element1" placeholder="This is pretty awesome")
   input(type=" text" class="element1" placeholder="Сколько гостей")
 .section-formElements-block2
   <input type="text" data-range="true" data-multiple-dates-separator=" - " class="datepicker-here"/>
   <input type="text"  id="input2"/>
   .iqdropdown
     p.iqdropdown-selection
     .iqdropdown-menu
      .iqdropdown-menu-option
       div
         p.iqdropdown-item Item 1
         p.iqdropdown-description A short description
      .iqdropdown-menu-option
       div
         p.iqdropdown-item Item 1
         p.iqdropdown-description A short description
      .iqdropdown-menu-option
       div
         p.iqdropdown-item Item 1
         p.iqdropdown-description A short description
 .section-formElements-block3


