.section-logo
  img(src="/assets/img/Group.svg")
.section-formElements
 .section-formElements-block1
   input(type=" text" class="element1" placeholder="Email")
 .section-formElements-block2
 .section-formElements-block3


