.section-logo
  img(src="/assets/img/Group.svg")
.section-formElements
 .section-formElements-block1
   .textFieldEmailWrapper 
     include ./elements/textFieldEmail.pug
   .textFieldWrapper 
     include ./elements/textField.pug
   .guestsDropdownWrapper  
     include ./elements/guestsDropdown.pug
   .maskedTextFieldWrapper  
     include ./elements/maskedTextField.pug
   .dateDropdownWrapper  
     include ./elements/dateDropdown.pug
   .comfortDropdownWrapper  
     include ./elements/comfortDropdown.pug
   .checkboxListWrapper 
     include ./elements/checkboxList.pug
 .section-formElements-block2
     include ./elements/checkboxButtons.pug
     include ./elements/radioButtons.pug
     include ./elements/toggleButton.pug
     include ./elements/likeButton.pug
     include ./elements/rateButton.pug
     include ./elements/richCheckboxButtons.pug
 .section-formElements-block3
     
     include ./elements/bulletList.pug


