.radioButtons
  .radioButtons__title-wrapper
   p.radioButtons-title RADIO BUTTONS
  .radioButtons__wrapper
   .radioButton__block1
    input(type="radio" class="radioButton" id="rb1" name="radio")
    label(for="rb1" class="radioButton-text").radioButton__block1__text Мужчина
   .radioButton__block2
    input(type="radio" class="radioButton" id="rb2" name="radio")
    label(for="rb2"  class="radioButton-text").radioButton__block2__text Женщина
   


