.comfortInformation
 .comfortInformation__block 
   .comfortInformation__block__image
     img.comfortInformation__img(src="assets/img/insert_emoticon.svg")
   .comfortInformation__block__text
     .comfortInformation__mainText Комфорт
     .comfortInformation__otherText Шумопоглащающие стены
 .comfortInformation__line
  
    
  

   


