footer.main-footer
 .container
  .main-footer__inner
   .logo
    ul.menu__list
     li.menu__list-item
      img(class="logo__main" src="assets/img/main-logo.svg")
      img(class="logo__text" src="assets/img/TOXIN.svg")
     li.menu__list-item
      p Бронирование номеров в лучшем <br/> отеле 2019 года по версии<br/>  ассоциации «Отельные взгляды»
   .navigation 
    ul.menu__list
     li.menu__list-item
      a(class="menu__link menu__link--active" href="#") Навигация
     li.menu__list-item 
      a(class="menu__link" href="#") О нас
     li.menu__list-item 
      a(class="menu__link" href="#") Новости
     li.menu__list-item 
      a(class="menu__link" href="#") Служба поддержки
     li.menu__list-item 
      a(class="menu__link" href="#") Услуги
   .about   
    ul.menu__list
     li.menu__list-item
      a(class="menu__link menu__link--active" href="#") О нас
     li.menu__list-item 
      a(class="menu__link" href="#") О сервисе
     li.menu__list-item 
      a(class="menu__link" href="#") Наша команда
     li.menu__list-item 
      a(class="menu__link" href="#") Вакансии
     li.menu__list-item 
      a(class="menu__link" href="#") Инвесторы
   .support   
    ul.menu__list
     li.menu__list-item
      a(class="menu__link menu__link--active" href="#") Служба поддержки
     li.menu__list-item 
      a(class="menu__link" href="#") Солашения
     li.menu__list-item 
      a(class="menu__link" href="#") Сообщества
     li.menu__list-item 
      a(class="menu__link" href="#") Связь с нами
   .subscrb   
    ul.menu__list
     li.menu__list-item
      a(class="menu__link menu__link--active" href="#") Подписка
     li.menu__list-item 
      p Получайте специальные <br/> предложения и новости сервиса
     input(type=" text" class="email-input" placeholder="Email")
 
 .main-footer__footer 
  .block
    p Copyright © 2018 Toxin отель. Все права защищены.
    .networks
    ul 
     li 
       a(href="#")
         img(class="twitter" src="assets/img/twitter.svg")
     li 
       a(href="#")
         img(class="twitter" src="assets/img/facebook.svg")
     li 
       a(href="#")
         img(class="twitter" src="assets/img/instagram.svg")      
        
  




