.room2
 .img
  img(src="assets/img/room2.png")
  ul.circleBlock 
    li 
    li 
    li 
    li
 .wrapper
  .about 
    .title
        p.left № 
            span 840
        p.right  9 900₽
            span в сутки
  .rateButton
    .rateButton__block 
        img.star_border(src="assets/img/star_border.svg" class="star_border1" data-id="1")
        img.star_border(src="assets/img/star_border.svg" class="star_border2" data-id="2")
        img.star_border(src="assets/img/star_border.svg" class="star_border3" data-id="3")
        img.star_border(src="assets/img/star_border.svg" class="star_border4" data-id="4")
        img.star_border(src="assets/img/star_border.svg" class="star_border5" data-id="5")
        img.star(src="assets/img/star.svg" class="star1" data-id="1")
        img.star(src="assets/img/star.svg" class="star2" data-id="2")
        img.star(src="assets/img/star.svg" class="star3" data-id="3")
        img.star(src="assets/img/star.svg" class="star4" data-id="4")
        img.star(src="assets/img/star.svg" class="star5" data-id="5")
    p 
      span 65    
      | Отзывов