// Fonts here
// see more: https://github.com/vedees/webpack-template/blob/master/README.md#import-js-files
@font-face {
  font-family: "Quicksand-Regular";
  src: url("/assets/fonts/OpenSans-Regular.ttf") format("truetype")
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("/assets/fonts/Montserrat-Regular.ttf") format("truetype")
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("/assets/fonts/Montserrat-Bold.ttf") format("truetype")
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("/assets/fonts/OpenSans-Regular.ttf") format("truetype")
}
