.section-cards{
    display: flex;
    margin-top: 68px;
    &-found_registration{
        margin-left: 140px;
        margin-bottom: 140px;
    }
    &-booking_enter{
        margin-left: 40px;
    }
    &-calendar_room1_room2{
        margin-left: 40px;
    }
    &-found{
        width: 380px;
        height: 374px;
        background-color: red;
        margin-bottom: 40px;
    }
    &-booking{
        width: 380px;
        height: 511px;
        background-color: gray;
        margin-bottom: 40px;
    } 
    &-calendar{
        width: 320px;
        height: 369px;
        background-color: green;
        margin-bottom: 40px;
    } 
    &-registration{
        width: 380px;
        height: 646px;
        background-color: black;
    } 
    &-enter{
        width: 380px;
        height: 358px;
        background-color: pink;
    } 
    &-room1{
        width: 270px;
        height: 257px;
        background-color: royalblue;
        margin-bottom: 40px;
    }  
    &-room2{
        width: 270px;
        height: 257px;
        background-color: sandybrown;
    }
}