@import "./mixins.scss";
@include littleInput;
@include bigBtn;
@include bigInputWithIMG;
@mixin title1 {
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
}

    //---Блок форм--
.section-formElements{
    display: flex;
    margin-top: 60px;
    &-block1{
        margin-left: 141px;
        margin-right: 126px;
        
        @import "./elements/textFieldEmail.scss";
        @import "./elements/textField.scss";
        @import "./elements/guestsDropdown.scss";
        @import "./elements/maskedTextField.scss";
        @import "./elements/dateDropdown.scss";
        @import "./elements/comfortDropdown.scss";
        
    }
    &-block2{
        @import "./elements/checkboxButtons.scss";
        @import "./elements/radioButtons.scss";
        @import "./elements/toggleButton.scss";
        @import "./elements/likeButton.scss";
        @import "./elements/rateButton.scss";
        
    }
    &-block3{
        @import "./elements/rangeSlider.scss";

    }
    
}


