@mixin bigBtn{
    .button{
        display: flex;
        align-items: center;
        width: 320px;
        height: 44px;
        border-radius: 22px;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        color: white;
        border: none;
        .text{
            margin-left: 80px;
            font-family: $Montserrat-Regular;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
        }
        img{
            margin-left: 70px;
        }
}}
@mixin littleBtnActiveWithBackground{
    .littleBtnActiveWithBackground-button{
        display: flex;
        align-items: center;
        width: 99px;
        height: 44px;
        border-radius: 22px;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        color: white;
        border: none;
        cursor: pointer;
        .littleBtnActiveWithBackground-text{
            margin-left: 15px;
            font-family: 'Montserrat-Bold';
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
        }
        
}}
@mixin littleBtnNotActiveWithBackground{
    .littleBtnNotActiveWithBackground-button{
        display: flex;
        align-items: center;
        width: 99px;
        height: 44px;
        border-radius: 22px;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        color: white;
        border: none;
        opacity: 0.5;
        cursor: pointer;
        .littleBtnNotActiveWithBackground-text{
            margin-left: 15px;
            font-family: $Montserrat-Regular;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
        }
       
}}
@mixin littleBtnActiveWithoutBackground{
    .littleBtnActiveWithoutBackground-button{
        position: relative;
        width: 99px;
        height: 44px;
        border-radius: 22px;
        background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border: none;
        cursor: pointer;
        .littleBtnActiveWithoutBackground-winner{
            position: absolute;
            left: 2px;
            top: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 95px;
            height: 40px;
            background: white;
            border-radius: 22px;
            .littleBtnActiveWithoutBackground-text{
                font-family: $Montserrat-Regular;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;
                color: #BC9CFF;
            }
        }    
   }
}
@mixin littleBtnNotActiveWithoutBackground{
    .littleBtnNotActiveWithoutBackground-button{
        position: relative;
        width: 99px;
        height: 44px;
        border-radius: 22px;
        background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border: none;
        opacity: 0.5;
        cursor: pointer;
        .littleBtnNotActiveWithoutBackground-winner{
            position: absolute;
            left: 2px;
            top: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 95px;
            height: 40px;
            background: white;
            border-radius: 22px;
            .littleBtnNotActiveWithoutBackground-text{
                font-family: $Montserrat-Regular;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;
                color: #BC9CFF;
            }
        }    
   }
}
// @mixin littleInput{
//     .litInp{
//         display: flex;
//         flex-direction: column;
//         .litInpTitle{
//             margin-bottom: 5px;
//             font-family: $Montserrat-Regular;
//             font-weight: bold;
//             font-size: 12px;
//             line-height: 15px;
//         }
//         .litInpDate{
//             display: flex;
//             align-items: center;
//             width: 150px;
//             height: 44px;
//             border: 1px solid rgba(31, 32, 65, 0.25);
//             box-sizing: border-box;
//             border-radius: 4px;
//             margin-right: 20px;
//             p{
//                 margin-left: 15px;
//                 font-size: 14px;
//                 line-height: 18px;
//                 font-weight: normal;
//                 font-family: $Montserrat-Regular;
//             }
//         }
//         img{
//             margin-left: 15px;
//         }

//     }
// }
// @mixin bigInputWithIMG{
//     .bigInp{
//         display: flex;
//         flex-direction: column;
//         .bigInpTitle{
//             margin-bottom: 5px;
//             font-family: $Montserrat-Regular;
//             font-weight: bold;
//             font-size: 12px;
//             line-height: 15px;
//         }
//         img{
//             margin-left: 160px;
//         }
//         .bigInpDate{
//             display: flex;
//             align-items: center;
//             width: 320px;
//             height: 44px;
//             border: 1px solid rgba(31, 32, 65, 0.25);
//             box-sizing: border-box;
//             border-radius: 4px;
//             p{
//                 margin-left: 15px;
//                 font-size: 14px;
//                 line-height: 18px;
//                 font-weight: normal;
//                 font-family: $Montserrat-Regular;
//             }
//         }
//     }
// }
// @mixin bigInput{
//     .bigInpDate{
//             align-items: center;
//             width: 320px;
//             height: 44px;
//             border: 1px solid rgba(31, 32, 65, 0.25);
//             box-sizing: border-box;
//             border-radius: 4px;
//             p{
//                 margin-left: 15px;
//                 font-size: 14px;
//                 line-height: 18px;
//                 font-weight: normal;
//                 font-family: $Montserrat-Regular;
//             }
//     }
// }