.landingPage__header
 include ../../UiKit/Headers&Footers/main-header/main-header.pug 
.landingPage__body 
 .wrapper
  include ../../UiKit/Cards/found-numbers/found-numbers.pug
 .text Лучшие номера для вашей работы, 
    span отдыха и просто вдохновения
.landingPage__footer 
 include ../../UiKit/Headers&Footers/main-footer/main-footer.pug  
        
  




