.richCheckboxButtons
  .richCheckboxButtons__title-wrapper
   p.richCheckboxButtons-title RICH CHECKBOX BUTTONS
  .richCheckboxButtons__block1
   input(type="checkbox" class="richCheckboxButton" id="rcb1")
   label(for="rcb1" class="richCheckboxButtons-text").richCheckboxButtons__block1__mainText Широкий коридор
    p.richCheckboxButtons__block1__text Ширина коридора в номере <br/> не менее 91 см.
  .richCheckboxButtons__block2
   input(type="checkbox" class="richCheckboxButton" id="rcb2")
   label(for="rcb2" class="richCheckboxButtons-text").richCheckboxButtons__block2__mainText Помощник для инвалидов
    p.richCheckboxButtons__block2__text На первом этаже вас в стретит специалист <br/> и проводит до номера.
  


