.cards
  .section-logo
    img(src="/assets/img/Group.svg")

  .container
  .section-cards
    .section-cards__left
      include ./found-numbers/found-numbers.pug
      include ./registration/registration.pug
    .section-cards__center
      include ./booking/booking.pug
      include ./signin/signin.pug
    .section-cards__right
      include ./calendar/calendar.pug
      include ./room1/room1.pug
      include ./room2/room2.pug
    