.bulletList
 .bulletList__title BULLET LIST 
 .bulletList__block 
   .bulletList__block__1
     .bulletList-bullet
     .bulletList-text Нельзя с питомцами
   .bulletList__block__2
     .bulletList-bullet
     .bulletList-text Без вечеринок и мероприятий
   .bulletList__block__3
     .bulletList-bullet
     .bulletList-text Время прибытия  - после 13:00, <br/> а выезд до 12:00

  
    
  

   


