.checkboxButtons
  .checkboxButton-title
   p.checkboxButton-title-1 CHECKBOX BUTTONS
  .checkboxButton-block1
   input(type="checkbox" class="checkboxButton-block1-input checkboxButton" id="cb1")
   label(for="cb1").checkboxButton-block1-text Можно курить
  .checkboxButton-block2
   input(type="checkbox" class="checkboxButton-block2-input checkboxButton" id="cb2")
   label(for="cb2").checkboxButton-block2-text Можно с питомцами
  .checkboxButton-block3
   input(type="checkbox" class="checkboxButton-block3-input checkboxButton" id="cb3")
   label(for="cb3").checkboxButton-block3-text Можно пригласить гостей <br/> (до 10 человек)
   


