.commentBlock
 .commentBlock__block 
   .commentBlock__block__image
     img.commentBlock__img(src="/assets/img/comment_avatar.png")   
   .commentBlock__block__text
     .commentBlock__fullName Мурад Сарафанов
     .commentBlock__pastTime 5 дней назад
     .commentBlock__commentText Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. <br/> И стены, действительно, шумоподавляющие. Викрикивал комплименты повару - никто не жаловался из соседей.
 .likeButtonBlock
  include ./likeButton.pug
  
    
  

   


