.convenienceInformation
 .convenienceInformation__block 
   .convenienceInformation__block__image
     img.convenienceInformation__img(src="/assets/img/location_city.svg")
   .convenienceInformation__block__text
     .convenienceInformation__mainText Удобство
     .convenienceInformation__otherText Окно в каждой из спален
 .convenienceInformation__line
  
    
  

   


