.likeButton
  .likeButton__title-wrapper
   p.likeButton-title LIKE BUTTON
  .likeButton__block 
    img.likeButton-heart-border(src="assets/img/like-border.svg")
    img.likeButton-heart(src="assets/img/like.svg")
    
  

   


