.numberInformation
 .numberInformation__block 
   .numberInformation__block__image
     img(src="/assets/img/insert_emoticon.svg")
   .numberInformation__block__text
     .numberInformation__mainText Комфорт
     .numberInformation__otherText Шумопоглащающие стены

  
    
  

   


