.div(id='id66' class="range")
  .div(id='id66b' class='range__between')
  button(id='id661' class="range__button_1")
  button(id='id662' class="range__button_2")
  input(id='id66i1' class='range_inpt1' type='number' min='0' max='246')
  input(id='id66i2' class='range_inpt2' type='number' min='0' max='246')
