.toggleButton
  .toggleButton__title-wrapper
   p.toggleButton-title TOGGLE
  .toggleButton__block
    input(type="checkbox" class="toggleButton-input" id="tg" )
    label(for="tg" class="toggleButton-label")
     span.toggleButton-text  Получать спецпредложения 
  

   


