.searchRoom__header
 include ../../UiKit/Headers&Footers/main-header/main-header.pug 
.searchRoom__body 
 .container
  .block1 
   .title1 даты пребывания в отеле
   include ../../UiKit/FormElements/filterDateDropdown/filterDateDropdown.pug 
   .title2 гости
   include ../../UiKit/FormElements/guestsdropdown/guestsdropdown.pug
   .title3 диапазон цены
   include ../../UiKit/FormElements/rangeSlider/rangeSlider.pug
   .posttitle3 Стоимость за сутки пребывания в номере
   .title4 правила дома
   .wrapper
    include ../../UiKit/FormElements/checkboxButtons/checkboxButtons.pug
   .title5 доступность
   include ../../UiKit/FormElements/richCheckboxButtons/richCheckboxButtons.pug
   .title6 удобства номера
   include ../../UiKit/FormElements/comfortDropdown/comfortDropdown.pug
   include ../../UiKit/FormElements/checkboxList/checkboxList.pug

.searchRoom__footer 
 include ../../UiKit/Headers&Footers/main-footer/main-footer.pug  
        
  




