include utils/mixins

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title ural
    meta(name="description", content=description)

    body(class="pageClass")
     //include ../includes/modules/color&text.pug
     //include ./UiKit/Cards/cards.pug
     //include ./UiKit/FormElements/form-elements.pug
     //include ./UiKit/Headers&Footers/main-header/main-header.pug
     //include ./UiKit/Headers&Footers/user-header/user-header.pug
     //include ./UiKit/Headers&Footers/main-footer/main-footer.pug
     //include ./UiKit/Headers&Footers/mobile-footer/mobile-footer.pug
     //include ./WebsitePages/LandingPage/landing-page.pug
     include ./WebsitePages/SearchRoom/search-room.pug