// @import "utils/libs";
// @import "utils/vars";
// @import "utils/mixins";
 @import "./assets/scss/utils/fonts.scss";
//@import "utils/reset";
// @import "modules/color&text";
// @import "modules/cards";
@import "./UiKit/FormElements/form-elements.scss";
@import "./plugins/air-datepiker/css/datepicker.css";
@import "./plugins/guestsDropdownPlugin/styles/item-quantity-dropdown.min.css";
@import "./plugins/comfortDropdownPlugin/styles/item-quantity-dropdown.min.css";




body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

a { text-decoration: none; }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}



// Modules
// @import "modules/my-module.scss";
