.dateDropdown
    .dateDropdown__input1
     p.dateDropdown__input1Title DATE DROPDOWN
     <input type="text" data-range="true" data-multiple-dates-separator=" - " class="datepicker-here" id="input1" placeholder="ДД.ММ.ГГГГ"/>
    .dateDropdown__input2 
     p.dateDropdown__input2Title DATE DROPDOWN
     <input type="text"  id="input2" placeholder="ДД.ММ.ГГГГ"/>